<!DOCTYPE html>
<html>
<head>
  <title>FarmSlugs</title>
  <%= stylesheet_link_tag    "farm_slugs/application", media: "all" %>
  <%= javascript_include_tag "farm_slugs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
